.landing-page {
  position: relative;

  &__header {
    height: 480px;
    background: $blue url('assets/images/public-main-background.png') no-repeat center center;
  }

  &__header-content {
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
    padding: 60px 0;
  }

  &__main-title,
  &__header-description {
    text-align: center;
  }

  &__main-title {
    @extend %title;
    margin-bottom: 48px;
    color: $white;
    font-size: 48px;
  }

  &__header-buttons-wrapper {
    width: 532px;
    margin-top: auto;
  }

  &__call-to-user {
    height: 210px;
    background-color: $blue;
  }

  &__call-to-user-content {
    height: 100%;
  }

  &__call-to-user-title {
    margin-bottom: 36px;
  }

  &__footer-row-top {
    background-color: $graphite;
  }

  &__footer-row-top-content {
    height: 200px;
  }

  &__footer-row-bottom-content {
    height: 54px;
  }

  &__footer-row-top-column {
    width: 496px;
  }

  &__footer-column-icon-wrapper {
    margin-right: 34px;

    svg {
      display: block;
      width: 56px;
      height: 54px;
    }
  }

  &__footer-column-icon {
    display: block;
  }

  &__footer-column-content-title {
    margin-bottom: 6px;
  }

  &__footer-link {
    color: $white !important;
  }
}