a {
  color: $bs900;
  text-decoration: none;
}

.material-icons {
  color: $bs080;

  /* Rules for sizing the icon. */
  &.md-16 {
    width: 16px !important;
    min-width: 16px !important;
    max-width: 16px !important;
    height: 16px !important;
    min-height: 16px !important;
    max-height: 16px !important;
    font-size: 16px !important;
  }

  &.md-18 {
    width: 18px !important;
    min-width: 18px !important;
    max-width: 18px !important;
    height: 18px !important;
    min-height: 18px !important;
    max-height: 18px !important;
    font-size: 18px !important;
  }

  &.md-24 {
    width: 24px !important;
    min-width: 24px !important;
    max-width: 24px !important;
    height: 24px !important;
    min-height: 24px !important;
    max-height: 24px !important;
    font-size: 24px !important;
  }

  &.md-36 {
    width: 36px !important;
    min-width: 36px !important;
    max-width: 36px !important;
    height: 36px !important;
    min-height: 36px !important;
    max-height: 36px !important;
    font-size: 36px !important;
  }

  &.md-48 {
    width: 48px !important;
    min-width: 48px !important;
    max-width: 48px !important;
    height: 48px !important;
    min-height: 48px !important;
    max-height: 48px !important;
    font-size: 48px !important;
  }
}

.global-toast {
  border-radius: 6px;
  font-size: 18px;
}
