@font-face {
  font-family: 'SanFrancisco';
  src: url('assets/fonts/SFUIText-Regular.eot');
  src: url('assets/fonts/SFUIText-Regular.eot?#iefix') 
  format('embedded-opentype'),
  url('assets/fonts/SFUIText-Regular.woff2') format('woff2'),
  url('assets/fonts/SFUIText-Regular.woff') format('woff'),
  url('assets/fonts/SFUIText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SanFranciscoMedium';
  src: url('assets/fonts/SFUIDisplay-Medium.eot');
  src: url('assets/fonts/SFUIDisplay-Medium.eot?#iefix') 
  format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Medium.woff2') format('woff2'),
  url('assets/fonts/SFUIDisplay-Medium.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SanFranciscoSemibold';
  src: url('assets/fonts/SFUIText-Semibold.eot');
  src: url('assets/fonts/SFUIText-Semibold.eot?#iefix') 
  format('embedded-opentype'),
  url('assets/fonts/SFUIText-Semibold.woff2') format('woff2'),
  url('assets/fonts/SFUIText-Semibold.woff') format('woff'),
  url('assets/fonts/SFUIText-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// *** Style Guide font classes ***

// *** Titles, headers ***
// Title
%title {
  font-family: 'SanFranciscoSemibold';
  font-size: 30px;
}

.title-white {
  @extend %header;
  color: $white;
}

.title-primary {
  @extend %title;
  color: $primary;
}

.title-graphite {
  @extend %title;
  color: $graphite;
}

.title-secondary {
  @extend %title;
  color: $secondary;
}

.title-placeholder {
  @extend %title;
  color: $placeholder;
}

.title-link {
  @extend %title;
  color: $link;
}

.title-success {
  @extend %title;
  color: $success;
}

.title-warning {
  @extend %title;
  color: $warning;
}

.title-notification {
  @extend %title;
  color: $notification;
}

// Header
%header {
  font-family: 'SanFrancisco';
  font-size: 24px;
}

.header-primary {
  @extend %header;
  color: $primary;
}

.header-graphite {
  @extend %header;
  color: $graphite;
}

.header-secondary {
  @extend %header;
  color: $secondary;
}

.header-placeholder {
  @extend %header;
  color: $placeholder;
}

.header-link {
  @extend %header;
  color: $link;
}

.header-success {
  @extend %header;
  color: $success;
}

.header-warning {
  @extend %header;
  color: $warning;
}

.header-notification {
  @extend %header;
  color: $notification;
}

// Subheader-1
%subheader-1 {
  font-family: 'SanFranciscoMedium';
  font-size: 18px;
}

.subheader-1--primary {
  @extend %subheader-1;
  color: $primary;
}

.subheader-1--graphite {
  @extend %subheader-1;
  color: $graphite;
}

.subheader-1--secondary {
  @extend %subheader-1;
  color: $secondary;
}

.subheader-1--placeholder {
  @extend %subheader-1;
  color: $placeholder;
}

.subheader-1--link {
  @extend %subheader-1;
  color: $link;
}

.subheader-1--success {
  @extend %subheader-1;
  color: $success;
}

.subheader-1--warning {
  @extend %subheader-1;
  color: $warning;
}

.subheader-1--notification {
  @extend %subheader-1;
  color: $notification;
}

// Subheader-2
%subheader-2 {
  font-family: 'SanFranciscoMedium';
  font-size: 21px;
}

.subheader-2--white {
  @extend %subheader-2;
  color: $white;
}

%subheader-2--primary {
  @extend %subheader-2;
  color: $primary;
}

.subheader-2--primary {
  @extend %subheader-2--primary;
}

.subheader-2--graphite {
  @extend %subheader-2;
  color: $graphite;
}

.subheader-2--secondary {
  @extend %subheader-2;
  color: $secondary;
}

.subheader-2--placeholder {
  @extend %subheader-2;
  color: $placeholder;
}

.subheader-2--link {
  @extend %subheader-2;
  color: $link;
}

.subheader-2--success {
  @extend %subheader-2;
  color: $success;
}

.subheader-2--warning {
  @extend %subheader-2;
  color: $warning;
}

.subheader-2--notification {
  @extend %subheader-2;
  color: $notification;
}

// *** Body ***
// Body-1
%body-1 {
  font-family: 'SanFrancisco';
  font-size: 14px;
}

.body-1--white {
  @extend %body-1;
  color: $white;
}

.body-1--primary {
  @extend %body-1;
  color: $primary;
}

.body-1--graphite {
  @extend %body-1;
  color: $graphite;
}

.body-1--secondary {
  @extend %body-1;
  color: $secondary;
}

.body-1--placeholder {
  @extend %body-1;
  color: $placeholder;
}

.body-1--link {
  @extend %body-1;
  color: $link;
}

.body-1--success {
  @extend %body-1;
  color: $success;
}

.body-1--warning {
  @extend %body-1;
  color: $warning;
}

.body-1--notification {
  @extend %body-1;
  color: $notification;
}

// Body-2
%body-2 {
  font-family: 'SanFrancisco';
  font-size: 15px;
}

%body-2--primary {
  @extend %body-2;
  color: $primary;
}

.body-2--primary {
  @extend %body-2--primary;
}

.body-2--graphite {
  @extend %body-2;
  color: $graphite;
}

.body-2--secondary {
  @extend %body-2;
  color: $secondary;
}

%body-2--placeholder {
  @extend %body-2;
  color: $placeholder;
}

.body-2--placeholder {
  @extend %body-2--placeholder;
}

.body-2--link {
  @extend %body-2;
  color: $link;
}

.body-2--success {
  @extend %body-2;
  color: $success;
}

.body-2--warning {
  @extend %body-2;
  color: $warning;
}

.body-2--notification {
  @extend %body-2;
  color: $notification;
}

// Body-3
%body-3 {
  font-family: 'SanFrancisco';
  font-size: 16px;
}

.body-3--white {
  @extend %body-3;
  color: $white;
}

.body-3--primary {
  @extend %body-3;
  color: $primary;
}

.body-3--graphite {
  @extend %body-3;
  color: $graphite;
}

.body-3--secondary {
  @extend %body-3;
  color: $secondary;
}

.body-3--placeholder {
  @extend %body-3;
  color: $placeholder;
}

.body-3--link {
  @extend %body-3;
  color: $link;
}

.body-3--success {
  @extend %body-3;
  color: $success;
}

.body-3--warning {
  @extend %body-3;
  color: $warning;
}

.body-3--notification {
  @extend %body-3;
  color: $notification;
}

// *** Labels ***
// Label-1
%label-1 {
  font-family: 'SanFranciscoMedium';
  font-size: 12px;
}

.label-1--primary {
  @extend %label-1;
  color: $primary;
}

.label-1--graphite {
  @extend %label-1;
  color: $graphite;
}

.label-1--secondary {
  @extend %label-1;
  color: $secondary;
}

.label-1--placeholder {
  @extend %label-1;
  color: $placeholder;
}

.label-1--link {
  @extend %label-1;
  color: $link;
}

.label-1--success {
  @extend %label-1;
  color: $success;
}

%label-1--warning {
  @extend %label-1;
  color: $warning;
}

.label-1--warning {
  @extend %label-1--warning;
}

.label-1--notification {
  @extend %label-1;
  color: $notification;
}

// Label-2
%label-2 {
  font-family: 'SanFranciscoMedium';
  font-size: 14px;
}

.label-2--primary {
  @extend %label-2;
  color: $primary;
}

.label-2--graphite {
  @extend %label-2;
  color: $graphite;
}

.label-2--secondary {
  @extend %label-2;
  color: $secondary;
}

.label-2--placeholder {
  @extend %label-2;
  color: $placeholder;
}

.label-2--link {
  @extend %label-2;
  color: $link;
}

.label-2--success {
  @extend %label-2;
  color: $success;
}

.label-2--warning {
  @extend %label-2;
  color: $warning;
}

.label-2--notification {
  @extend %label-2;
  color: $notification;
}

// Label-3
%label-3 {
  font-family: 'SanFranciscoMedium';
  font-size: 15px;
}

.label-3--primary {
  @extend %label-3;
  color: $primary;
}

.label-3--graphite {
  @extend %label-3;
  color: $graphite;
}

.label-3--secondary {
  @extend %label-3;
  color: $secondary;
}

.label-3--placeholder {
  @extend %label-3;
  color: $placeholder;
}

.label-3--link {
  @extend %label-3;
  color: $link;
}

.label-3--success {
  @extend %label-3;
  color: $success;
}

.label-3--warning {
  @extend %label-3;
  color: $warning;
}

.label-3--notification {
  @extend %label-3;
  color: $notification;
}

// Label-4
%label-4 {
  font-family: 'SanFranciscoSemibold';
  font-size: 16px;
}

%label-4--white {
  @extend %label-4;
  color: $white;
}

.label-4--white {
  @extend %label-4--white;
}

.label-4--primary {
  @extend %label-4;
  color: $primary;
}

.label-4--graphite {
  @extend %label-4;
  color: $graphite;
}

.label-4--secondary {
  @extend %label-4;
  color: $secondary;
}

.label-4--placeholder {
  @extend %label-4;
  color: $placeholder;
}

%label-4--link {
  @extend %label-4;
  color: $link;
}

.label-4--link {
  @extend %label-4--link;
}

.label-4--success {
  @extend %label-4;
  color: $success;
}

.label-4--warning {
  @extend %label-4;
  color: $warning;
}

.label-4--notification {
  @extend %label-4;
  color: $notification;
}

// *** Captions ***
// Caption-1
%caption-1 {
  font-family: 'SanFrancisco';
  font-size: 12px;
}

.caption-1--primary {
  @extend %caption-1;
  color: $primary;
}

.caption-1--graphite {
  @extend %caption-1;
  color: $graphite;
}

.caption-1--secondary {
  @extend %caption-1;
  color: $secondary;
}

.caption-1--placeholder {
  @extend %caption-1;
  color: $placeholder;
}

.caption-1--link {
  @extend %caption-1;
  color: $link;
}

.caption-1--success {
  @extend %caption-1;
  color: $success;
}

%caption-1--warning {
  @extend %caption-1;
  color: $warning;
}

.caption-1--warning {
  @extend %caption-1--warning;
}

.caption-1--notification {
  @extend %caption-1;
  color: $notification;
}

// Caption-2
%caption-2 {
  font-family: 'SanFrancisco';
  font-size: 13px;
}

.caption-2--primary {
  @extend %caption-2;
  color: $primary;
}

.caption-2--graphite {
  @extend %caption-2;
  color: $graphite;
}

.caption-2--secondary {
  @extend %caption-2;
  color: $secondary;
}

.caption-2--placeholder {
  @extend %caption-2;
  color: $placeholder;
}

.caption-2--link {
  @extend %caption-2;
  color: $link;
}

.caption-2--success {
  @extend %caption-2;
  color: $success;
}

.caption-2--warning {
  @extend %caption-2;
  color: $warning;
}

.caption-2--notification {
  @extend %caption-2;
  color: $notification;
}