.attachment-info {
  &__line-info {
    margin-bottom: 10px;  
    font-size: 14px;
  }


  &__title-info {
    width: 100px;
    min-width: 100px;
    color: $gray-text;
  }


  &__text-info {
    color: $primary-color;  
  }


  &__description {
    margin: 24px 0 48px;
    color: $primary-color; 
    font-size: 14px;
  }

  .rg-react-base-modal__button-wrap {
    padding: 0;
  }

  .rg-react-base-modal__button {
    svg {
      margin-top: 12px;
      margin-right: 12px;
      fill: $link-color !important;
    }
  }
}