$min-con-color: #c5c8cd;

.attachment-modal {
  &__name {
    text-align: center;
  }

  .css-1iorj3z {
    width: 100% !important;
    margin: 24px 0 0;
  }

  &__error-text {
    margin-top: 32px;
    color: $warning;
    font-size: 14px;
    text-align: center;
  }
}

.attachment {
  &__mime {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    margin-right: 20px;
  }
}

.attachment-upload {
  &__wrap {
    max-width: 600px;
    height: 54px;
    border: $default-border;
    border-radius: 6px;
    background: $white;
  }

  &__icon-type {
    width: 36px;
    min-width: 36px;
    max-width: 36px;
    height: 36px;
    min-height: 36px;
    max-height: 36px;
    margin: 0 10px 0 5px;
  }

  &__name {
    margin-top: 3px;
    line-height: 15px;
  }

  &__size {
    margin-top: 6px;
    line-height: 15px;
  }

  &__close {
    margin: 0 20px 0 10px;
    cursor: pointer;
  }

  &__download {
    margin: 3px 20px 0 10px;
    color: $gray-text;
    fill: $gray-text;
    cursor: pointer;
  }

  &__min-icon {
    svg {
      color: $min-con-color !important;
      fill: $min-con-color !important;
      cursor: pointer;
    }
  }
}