body {
  .react-datepicker-input {
    background: inherit !important;
  }

  .react-datepicker-component.base-date-picker__input {
    @extend %ws-body-2;

    box-sizing: border-box !important;
    height: 40px !important;
    border: 1px solid $bs010 !important;
    border-bottom: 2px solid $bs010 !important;
    border-radius: 4px !important;
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    color: $bs750;

    &:hover {
      .react-datepicker-input {
        background: inherit !important;
      }
    }
  }

  .react-datepicker-input input {
    @extend %ws-body-2;

    width: 100% !important;
    height: 40px !important;
    padding: 0 32px 0 14px !important;
    border: none !important;
    border-bottom: 2px solid transparent !important;
    outline: none !important;
    background-color: transparent !important;
    color: $bs750;

    &.placeholder {
      color: $bc090 !important;
    }

    &:-moz-placeholder {
      color: $bc090 !important;
    }

    &::-moz-placeholder {
      color: $bc090 !important;
    }

    &::-webkit-input-placeholder {
      color: $bc090 !important;
    }

    &:-ms-input-placeholder {
      color: $bc090 !important;
    }
  }

  .base-date-picker .is-disabled input {
    background: #eceff1 !important;
  }

  .base-date-picker__label {
    min-height: 20px;
    margin-bottom: 5px;
    padding-left: 14px;
    overflow: hidden;
    color: $bc090 !important;
    font-size: 14px !important;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--left {
      margin-right: 8px;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}
