body {
  .rg-dictionary-select {
    margin-bottom: 24px;
  }

  .rg-dictionary-select__model-single-item {
    height: 40px;
    padding: 0 14px;
    border: $default-border;
    background: none;
    color: $primary;
  }

  .rg-dictionary-select .select-icon {
    color: $primary !important;
    fill: $primary !important;
  }

  .rg-dictionary-select__label {
    min-height: 20px;
    margin-bottom: 5px;
    padding-left: 14px;
    color: $silver-gray !important;
    font-size: 14px !important;

    &--left {
      margin-right: 8px;
      margin-bottom: 0;
      padding-left: 0;
    }
  }  

  .rg-dictionary-select__model-item {
    height: 24px;
    padding: 0 6px;
    background: $select-check;
  }

  .rg-dictionary-select__items-item--hover, 
  .rg-dictionary-select__items-item:hover {
    background: $hover-bg !important;
    color: $primary !important;
  }

  .rg-dictionary-select__items-item--selected {
    background: $select-check !important;
    color: $white !important;

    &:hover {
      background: $select-check !important;
      color: $white !important;
    }
  }
}