body {
  .ws-react-base-modal {
    @extend %ws-body-2;

    color: $bs750;

    .dictionary-list__button {
      margin: 0;
    }

    .ws-react-checkbox--title {
      margin-left: 15px;
    }
  }

  .ws-react-base-modal__modal {
    border-radius: 4px;
  }

  .ws-react-base-modal__modal-title {
    align-items: flex-start !important;
    height: auto;
    min-height: 83px;
    padding: 24px;
    background: $bs000;
    color: $bs750;
    font-size: 25px;

    .modal-icon {
      width: 26px !important;
      min-width: 26px !important;
      height: 26px !important;
      min-height: 26px !important;
      fill: $bs750 !important;
      color: $bs750 !important;
    }
  }

  .ws-react-base-modal__content-wrap {
    padding: 0 24px;
  }

  .ws-react-base-modal__input-label {
    flex-shrink: 0;
    min-width: 120px;
    padding: 8px 14px 0 0;
  }

  .ws-react-base-modal__single-input-wrapper {
    margin-bottom: 24px;
    padding-left: 120px;
  }

  .ws-react-base-modal__button-wrap {
    justify-content: space-between !important;
    height: 72px;
    min-height: 72px;
    padding: 0 24px;
    border: 0;
    background-color: $bs020;
  }

  .ws-react-base-modal__button {
    @extend %ws-action-1;

    height: 36px;
    min-height: 36px;
    margin: 0;
    padding: 0 20px;
    background-color: $de500;
    color: $bs000;
    line-height: 36px;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  .ws-react-base-modal__button.ws-react-base-modal__button--default {
    padding: 0;
    background-color: $bs020;
    color: $de500;
  }

  .ws-react-base-modal__button--disabled {
    background-color: $bs020;
    color: $bs750;
  }
}
