body {
  .rc-slider {
    cursor: pointer;
  }

  .rc-slider-rail {
    background: $light-gray;  
  }

  .rc-slider-track {
    background: $range-line-color;  
  }

  .rc-slider-handle {
    border: 2px solid $range-line-color; 

    &:hover {
      border: 2px solid $range-line-color; 
    }
  }
}