.ws-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  /* total width */
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $bs750;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: $bs000;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 16px;
    background-color: $bc090;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: $bs000;
  }

  &::-webkit-scrollbar-thumb:hover {
    border: 0;
    background-color: $bc090;
  }
}
