.rg-status-wrap {
  @extend %label-1;

  height: 18px;
  padding: 0 4px;
  border-radius: 2px;
  background: $light-gray;
  color: $secondary;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;

  &--draft {
    background: $light-gray;
    color: $placeholder;
  }

  &--in-progress {
    background: $light-blue;
    color: $link-hover;
  }

  &--error {
    background: $light-red;
    color: $warning;
  }

  &--warning {
    background: $yellow;
    color: $notification;
  }

  &--success {
    background: $light-green;
    color: $success;
  }
}
